/*COMMON*/

body {
	font-family: 'Ruda', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
h3 {
	font-weight: bold;
	color: white;
	text-align: left;
	margin-bottom: -6px;
	line-height: 0.9;
}
/*OVERWRITE MATERIALIZE CSS*/

nav .brand-logo {
	padding: 0 40%;
	font-family: 'Bungee Inline', cursive;
}
ul.pagination {
	/*padding: 10px;*/
}
.pagination li.active {
	width: 30px !important;
	padding-top: 3px !important;
}
.pagination li a {
	width: 40px;
}
.collection .collection-item.avatar:hover {
	background-color: lightgrey;
}
.collection .collection-item:last-child {
	min-height: 40px !important;
}
.page-footer {
	padding-bottom: 20px;
}
/*CUSTOM*/

#main {
	flex: 1 0 auto;
}
.box_container {
	background-color: white;
	padding: 1em;
}